<%= label_tag special_win_name + "：" %>
<% concat d.special_win.to_bool ? "有り" : "無し" %>
<% if d.special_win %>
  <div style="margin-left: 10px;">
    タイム：
    <%= "#{d.time_minute}".gsub(/_/, '-') %>分
    <%= "#{d.time_second}".gsub(/_/, '-') %>秒
  </div>
<% end %>
