<% if obj.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      入力した情報に誤りが<%= obj.errors.count %>個あります。
      <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg.html_safe %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
