<% if @robot.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      入力した情報に誤りが<%= @robot.errors.count %>個あります。
    </div>
    <ul>
    <% @robot.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
