<% provide(:title, "全国大会進出情報の編集") %>

<%= render "shared/title", title: (yield :title) %>

<h4>ロボット名：<%= @robot.name %></h4><br>

<%= render "form", robot: @robot, action: :update, button_label: "更新" %>
