<% provide(:title, "対戦情報の新規作成") %>

<%= render "shared/title", title: (yield :title) %>

<h4><%= label_tag "", @robot.name, class: "robot_name" %></h4><br />

<%= render "form", action: :create, button_label: "作成" %>
