<% provide(:title, @game.round.to_s+"回戦 第"+@game.game.to_s+"試合") %>

<%= render "shared/title", title: (yield :title) %>

<div class="row">
  <div class="col-lg-12">
    <%
      score = @game.game_detail.properties["score"]
    %>
    <tr>
      <td>スコア</td>
      <td><%= score %></td>
    </tr>
  </div>
</div>
