<h1>只今実装中</h1>
<% provide(:title, @title_for_tab) %><%# これ必要なのかな？ %>
<%= render "shared/title", title: @title %><%# これ必要なのかな？ %>
<%= label_tag "第#{@game.contest_nth}回大会" %><br />
<%= label_tag @contest.name %><br />
<%= label_tag game_name(game: @game) %><br />

<%#= render "game_details/show/game_detail" + @game.contest.nth.ordinalize %>
