<p id="notice"><%= notice %></p>

<p>
  <strong>Robot code:</strong>
  <%= @advancement.robot_code %>
</p>

<%= link_to 'Edit', edit_advancement_path(@advancement) %> |
<%= link_to 'Back', advancements_path %>
